@tailwind base;
@tailwind components;
@tailwind utilities;

.header {
  background-color: #2a70b8;
  align-items: center;
}

.banner {
  background-color: #1488cc, #2b32b2;
}

.gradient {
  background: linear-gradient(90deg, #1488cc 0%, #2b32b2 100%);
}

.background-login {
  background: linear-gradient(90deg, #ecf9ff 0%, #2dc0ff 100%);
}

.btn-blue-gradient {
  color: white;
  background: linear-gradient(
    to right,
    #3b82f6,
    #2563eb,
    #1d4ed8
  ); /* from-blue-500, via-blue-600, to-blue-700 */
  font-weight: 500; /* font-medium */
  border-radius: 0.5rem; /* rounded-lg */
  font-size: 0.875rem; /* text-sm */
  padding: 0.625rem 1.25rem; /* px-5 py-2.5 */
  text-align: center;
  display: inline-block;
  margin-right: 0.5rem; /* me-2 */
  margin-bottom: 0.5rem; /* mb-2 */
}
.btn-blue-gradient:hover {
  background: linear-gradient(
    to bottom right,
    #3b82f6,
    #2563eb,
    #1d4ed8
  ); /* hover:bg-gradient-to-br */
}

.btn-blue-gradient:focus {
  outline: none;
  box-shadow: 0 0 0 4px rgba(59, 130, 246, 0.5); /* focus:ring-4, focus:ring-blue-300 */
}

.btn-blue-gradient:focus.dark {
  box-shadow: 0 0 0 4px rgba(30, 58, 138, 0.5); /* dark:focus:ring-blue-800 */
}
.flex-column-start {
  display: flex;
  padding: 16px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  flex: 1 0 0;
  align-self: stretch;
}
