@tailwind base;
@tailwind components;
@tailwind utilities;

.header {
  background-color: #2a70b8;
  align-items: center;
}

.banner {
  background-color: #1488cc, #2b32b2;
}

.gradient {
  background: linear-gradient(90deg, #1488cc 0%, #2b32b2 100%);
}

.background-login {
  background: linear-gradient(90deg, #ecf9ff 0%, #2dc0ff 100%);
}
